Package: com.sst1337.DebuggingInformationOverlay
Name: DebuggingInformationOverlay
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: sst1337
Author: sst1337
Section: Tweaks
