Package: com.sst1337.DebuggingInformationOverlay
Name: DebuggingInformationOverlay
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0.3) | firmware (<< 7.0)
Architecture: iphoneos-arm
Description: Show Apple's UIDebuggingInformationOverlay on any app!
Maintainer: sst1337
Author: sst1337
Section: Tweaks
Version: 1.0.0-20+debug
Installed-Size: 348
